<header>
  <div id="headerwrap" >
    <div class="cartHolder">
      <div class="top-nav">
        <div class="socialTop">
        </div>
        <div class="cartWrapper">
          <a class="cart-bubble cart-contents">(0)</a>
          <a href="http://novocoffee.com/cart/" class="cart">Cart</a>
        <div class="widget_shopping_cart_top">
          <div class="cartTopDetails">
            <ul class="cart_list product_list_widget  ">
              <li class="empty cart">No products in the cart.</li>
                </ul><!-- end product list -->
          </div>
        </div>
      </div>
      <ul>
        <li><a href="/my-account">My Account</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div id="logo">
     <a href="/"><img src="/images/logo.png" alt="Novo Coffee - " /></a>
    </div>
    <div class="respMenu">
      <select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)">
        <option value="" selected="selected" disabled="disabled">Please select...</option>
        <option  value="/shop/">Shop</option>
        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option>
        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
        <% @african_products.each do |product| %>
          <option  value="/<%= product[:id] %>/detail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product[:name] %></option>
        <% end %>
        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option>

        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
        <% @central_am_products.each do |product| %>
          <option  value="/<%= product[:id] %>/detail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product[:name] %></option>
        <% end %>
        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option>

        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
        <% @pacific_products.each do |product| %>
          <option  value="/<%= product[:id] %>/detail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product[:name] %></option>
        <% end %>
        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option>

        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, & Decaf</option>
        <% @alternative_products.each do |product| %>
          <option  value="/<%= product[:id] %>/detail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product[:name] %></option>
        <% end %>
        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option>

        <option  value="/shop/">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

        <option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option>

        <option  value="/wholesale/">Wholesale</option>
        <option  value="/news-events/">News + Events</option>
        <option  value="/about/">About</option>
        <option  value="/contact-locations/">Contact + Locations</option>
        </select>     
      </div>

      <div class="pagenav">
       <ul id="menu-main-menu-1" class="menu">
        <li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
          <a href="/shop/"><strong>Shop</strong></a>
        
        <ul class="sub-menu">
         <li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
          <a href="#"><div class="label"><img src="/images/menu-africa.png" alt="menu image"/></div></a>
        <ul class="sub-menu">
          <li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">
            <h4>Africa</h4></a></li>
          <% @african_products.each do |product| %>
            <li class="products menu-item menu-item-type-post_type menu-item-object-product">
              <a href="/<%= product[:id] %>/detail"><%= product[:name] %></a></li>
          <% end %>
        </ul>


          <li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a href="#"><div class="label"><img src="/images/menu_central-america.png" alt="menu image"/></div></a>
        <ul class="sub-menu">
          <li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#">
            <h4>Central America</h4></a></li>
          <% @central_am_products.each do |product| %>
            <li class="products menu-item menu-item-type-post_type menu-item-object-product">
              <a href="/<%= product[:id] %>/detail"><%= product[:name] %></a></li>
          <% end %>
        </ul>

          <li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a href="#"><div class="label"><img src="/images/menu_south-america.png" alt="menu image"/></div></a>
        <ul class="sub-menu">
          <li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#">
            <h4>South America</h4></a></li>
          <% @south_am_products.each do |product| %>
            <li class="products menu-item menu-item-type-post_type menu-item-object-product">
              <a href="/<%= product[:id] %>/detail"><%= product[:name] %></a></li>
          <% end %>
        </ul>

        <li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a href="#"><div class="label"><img src="/images/menu_pacific.png" alt="menu image"/></div></a>
        <ul class="sub-menu">
          <li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#">
            <h4>Pacific</h4></a></li>
          <% @pacific_products.each do |product| %>
            <li class="products menu-item menu-item-type-post_type menu-item-object-product">
              <a href="/<%= product[:id] %>/detail"><%= product[:name] %></a></li>
          <% end %>
        </ul>

        <li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a href="#"><div class="label"><img src="images/espressos_blends.png" alt="menu image"/></div></a>
        <ul class="sub-menu">
          <li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#">
            <h4>Espressos, Blends, <br/>&#038; Decaf</h4></a></li>
          <% @alternative_products.each do |product| %>
            <li class="products menu-item menu-item-type-post_type menu-item-object-product">
              <a href="/<%= product[:id] %>/detail"><%= product[:name] %></a></li>
          <% end %>
        </ul>

  <li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop/"><div class="menufeautured"><img src="/images/Novo-Roaster-Low-19.jpg" alt="menu image"/><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/wholesale/"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/news-events/"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact-locations/"><strong>Contact + Locations</strong></a></li>
</ul>     </div>

      </div>
    </div>

  </header>
