<body class="page page-id-5184 page-parent page-template-default woocommerce-account woocommerce-page">

  <%= erb :_navigation %>

<div class = "outerpagewrap">
  <div class="pagewrap" style="background: #332822 url(https://novocoffee.com/images/hero_slim_wholesale.jpg) no-repeat center center;">
    <div class="pagecontent">
      <div class="pagecontentContent">
        <h1>Site Admin</h1>
        <!-- <p></p> -->
      </div>
      <!-- <div class="homeIcon"><a href=""></a></div> -->
    </div>
  </div>
</div>
<div id="mainwrap">
  <div id="main" class="clearfix">
  <div class="pad"></div>
          <div class="content fullwidth">
              <div class="postcontent">
                <div class="posttext">
                  <div class="usercontent"><div class="woocommerce">
<div class="wooLogin">
<h2>Edit Product</h2>
<%# @product.inspect %>
    <form action="/<%= @product[:id] %>/edit-product" method="POST" class="login">
    <input type="hidden" name="_method" value="PUT" />
      <input type="text" class="input-text" name="product[name]" value="<%= @product[:name] %>" />
      <input type="text" class="input-text" name="product[price]" value="<%= @product[:price] %>" />
      <select name='product[type]' class="country_to_state country_select" >
        <% %w(Espresso Decaf Blend Regular Accessory Subscription).each do |option| %>
        <option value="<%= option.downcase %>" <%= option.downcase == @product[:type] ? "selected" : "" %>><%= option %></option>
        <% end %>
      </select>
      <select name='product[region]' class="country_to_state country_select">
        <% ["Africa", "Central America", "South America", "Pacific", "Blend"].each do |option| %>
        <option value="<%= option %>" <%= option == @product[:region] ? "selected" : "" %>><%= option %></option>
        <% end %>
      </select>
      <textarea class="form-control" rows="4" cols="120" class="input-text" id="order_comments" name="product[description]"><%= @product[:description] %></textarea>
      <!-- <form action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form> -->
      </br>
      <input type='submit' class="" value="Submit"/>
    </form>
<div class="clear"></div>
</p></form>
</p></div>
</div>
</div>
                </div>
              </div>
          </div>
  </div>
</div>
