	<%= erb :_navigation %>

<div class = "outerpagewrap">
	<div class="pagewrap" style="background: #332822 url(/wp-content/uploads/2012/09/hero_slim_shop.jpg);  ?>) no-repeat center center;">
		<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>Subscriptions</h1>
					<p></p>
			</div>
		</div>
	</div>
</div>
	<div id="mainwrap" class="homewrap">
		<div id="main" class="clearfix">
				<div class="homeRacent">
					<div class="wocategoryFull">
						<div class="productR">											
							<% @subscriptions.each do |product| %>
							<li>
							<div class="one_third" >
								<a href="/<%= product[:id] %>/detail">
								<div class="recentimage">
									<div class="image">
										<div class="loading">
										</div>
										<img src="/images/<%= product[:img] %>">										
									</div>
								</div>
								</a>
								<div class="recentdescription">
									<h3><a href="/<%= product[:id] %>/detail"><%= product[:name] %></a></h3>
									<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$<%= sprintf("%.2f", product[:price]/100.0) %></span></span></h3>
								</div>
								<div class="recentCart">
									<a href="/<%= product[:id] %>/detail" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
								</div>
							</div>
							<% end %>									
						</div>
					</div>
		</div>
		</div>
	</div>